@font-face {
    font-family: 'Inter-Regular';
    src: url('/font/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Sora-Bold';
    src: url('/font/Sora-Bold.ttf');
}
@font-face {
    font-family: 'Sora-SemiBold';
    src: url('/font/Sora-SemiBold.ttf');
}