@use 'variables.scss' as *;

@font-face {
	font-family: 'Inter-Regular';
	src: url('/fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url('/fonts/Inter-SemiBold.ttf');
}

@font-face {
	font-family: 'Inter-Bold';
	src: url('/fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: 'Inter-ExtraBold';
	src: url('/fonts/Inter-ExtraBold.ttf');
}

@font-face {
	font-family: 'Sora-Bold';
	src: url('/fonts/Sora-Bold.ttf');
}

@font-face {
	font-family: 'Sora-SemiBold';
	src: url('/fonts/Sora-SemiBold.ttf');
}

@font-face {
	font-family: 'Sora-ExtraBold';
	src: url('/fonts/Sora-ExtraBold.ttf');
}

@font-face {
	font-family: 'Sora-Regular';
	src: url('/fonts/Sora-Regular.ttf');
}

// reset CSS

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: $main-color;
}

h1 {
	color: $main-text-color;
	font-size: $font-size-xxl;
	text-align: center;
	font-family: $sora-bold;
	margin-top: 3rem;

	@include tablet {
		font-size: $font-size-xxxl;
	}

}

.accent {
	color: $accent-color;
}