@use 'variables.scss' as *;

main {
    padding-bottom: 4rem;
}



.section-container {
    width: 100%;
    max-width: $mobile-width;
    margin: 0 auto;
    // gap: 2rem;

    @include large-mobile {
        max-width: $large-mobile-width;
    }

    @include tablet {
        gap: 2.5rem;
        max-width: $tablet-width;
    }

    @include large-tablet {
        max-width: $large-tablet-width;
    }

    @include desktop {
        gap: 3rem;
        max-width: $desktop-width;
    }
}

.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.reviews-container {
    max-height: 600px;
    overflow-y: scroll;
    // scrollbar-base-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: $panel-bordel-color transparent;

    // Webkit (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

#home-disconnected {
    h2 {
        text-align: center;
        font-family: $inter-bold;
        font-size: $font-size-xxl;
        color: $main-text-color;

        @include desktop {
            font-size: $font-size-xxxl;
        }
    }

    .slider-container {
        margin-top: 3rem;

        .media-card {
            pointer-events: none;
        }
    }
}

#backdrop-hero {

    img {
        width: 100%;

        object-fit: cover;
        opacity: .3;
        height: calc(100vh - 3.75rem);
    }

    // overflow: hidden;
    height: calc(100vh - 3.75rem);

}

#hero-disconnected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    h1 {
        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3.5rem;
        }

        span {
            color: $accent-color;
        }
    }

    p {
        font-family: $inter-regular;
        color: $secondary-text-color;
        text-align: center;
    }

    button {
        padding: .75rem 1.5rem;
    }
}

#join-us {
    padding: 3rem 0;

    p {
        font-family: $inter-regular;
        font-size: $font-size-medium;
        color: $secondary-text-color;
        text-align: center;
        margin-top: 1rem;
    }
}

#cta {
    padding: 3rem;
    border-radius: 12px;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin: 3rem 0;

    #cta-txt {
        text-align: center;

        p {
            margin-top: 1rem;
            color: $main-text-color;
            font-family: $inter-regular;
            font-size: $font-size-medium;
        }
    }

    .btn-container {
        margin: 2rem auto;

        button {
            padding: 1rem 2rem;
        }
    }
}

#user-profile {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @include large-tablet {
        margin-top: 3rem;
    }

    img {
        border-radius: 50%;
        width: 84px;
        height: 84px;

        @include desktop {
            width: 92px;
            height: 92px;
        }
    }


    .info-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .username {
            font-size: $font-size-large;
            font-family: $inter-bold;
            color: $main-text-color;
        }

        p {
            color: $secondary-text-color;
            font-family: $inter-regular;
            font-size: $font-size-small;

            @include desktop {
                font-size: $font-size-medium;
            }
        }

        .user-info {
            padding: .5rem 1rem;
            background-color: $panel-color;
            border: 1px solid $panel-bordel-color;
            border-radius: 8px;
            color: $main-text-color;
            font-size: .88rem;
            font-family: $inter-bold;
            width: fit-content;

            span {
                display: flex;
                gap: .5rem;
            }

            .gray-txt {
                color: $secondary-text-color;
                font-family: $inter-regular;
            }
        }
    }
}

.flex-row {
    display: flex;
}

.gap-12 {
    gap: .88rem;
}

#recent-activity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;

    @include large-tablet {
        flex-direction: row;
        margin-top: 2rem;
    }
}

#users-watchlists {
    section {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}

.media-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    row-gap: 1.25rem;

    @include desktop {
        grid-template-columns: repeat(5, 1fr);
    }

    .media-card {
        min-height: fit-content;
        padding: .25rem 0;
    }
}