@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Sora-Bold";
  src: url("/fonts/Sora-Bold.ttf");
}
@font-face {
  font-family: "Sora-SemiBold";
  src: url("/fonts/Sora-SemiBold.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #0A0F1F;
}

h1 {
  color: #E6ECF5;
  font-size: 2rem;
  text-align: center;
  font-family: "Sora-Bold";
  margin-top: 3rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.accent {
  color: #D7263D;
}

.section-container {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section-container {
    gap: 2.5rem;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .section-container {
    gap: 3rem;
    max-width: 1200px;
  }
}

form {
  max-width: 740px;
  width: 100%;
  margin: 2rem auto;
}
form .input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
form .input-container label {
  color: #E6ECF5;
  font-family: "Inter-Regular";
  font-size: 1rem;
}
form .input-container input {
  height: 1.75rem;
  padding: 0.5rem;
  font-family: "Inter-Regular";
  border-radius: 0.75rem;
  outline: none;
  border: 2px solid #0A0F1F;
  transition: border-color ease 0.3s;
  font-size: 1rem;
}
form .input-container input:focus {
  border: 2px solid #A9B4C6;
}
form .input-container .password-information {
  color: #A9B4C6;
  font-family: "Inter-Regular";
  font-size: 0.75rem;
}
form .submit-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btn {
  background-color: #D7263D;
  border: none;
  color: #E6ECF5;
  font-family: "Inter-ExtraBold";
  padding: 1rem 0 1rem 0;
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: background-color ease 0.25s;
}
.main-btn:hover {
  cursor: pointer;
  background-color: #B51E30;
}

.full-btn {
  width: 100%;
}/*# sourceMappingURL=main.css.map */