@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Sora-Bold";
  src: url("/fonts/Sora-Bold.ttf");
}
@font-face {
  font-family: "Sora-SemiBold";
  src: url("/fonts/Sora-SemiBold.ttf");
}
@font-face {
  font-family: "Sora-ExtraBold";
  src: url("/fonts/Sora-ExtraBold.ttf");
}
@font-face {
  font-family: "Sora-Regular";
  src: url("/fonts/Sora-Regular.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #0A0F1F;
}

h1 {
  color: #E6ECF5;
  font-size: 2rem;
  text-align: center;
  font-family: "Sora-Bold";
  margin-top: 3rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.accent {
  color: #D7263D;
}

.section-container {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  gap: 2rem;
}
@media (min-width: 768px) {
  .section-container {
    gap: 2.5rem;
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .section-container {
    gap: 3rem;
    max-width: 1200px;
  }
}

form {
  max-width: 740px;
  width: 100%;
  margin: 2rem auto;
}
form .form-error-message {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  background-color: rgba(236, 74, 74, 0.719);
  border: solid 2px #D7263D;
  border-radius: 0.75rem;
}
form .form-error-message p {
  font-family: "Inter-Regular";
  color: #E6ECF5;
}
form .input-error-message {
  color: rgba(255, 0, 0, 0.887);
  font-family: "Inter-Regular";
}
form .input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
form .input-container label {
  color: #E6ECF5;
  font-family: "Inter-Regular";
  font-size: 1rem;
}
form .input-container input {
  height: 1.75rem;
  padding: 0.5rem;
  font-family: "Inter-Regular";
  border-radius: 0.75rem;
  outline: none;
  border: 2px solid #0A0F1F;
  transition: border-color ease 0.3s;
  font-size: 1rem;
}
form .input-container input:focus {
  border: 2px solid #A9B4C6;
}
form .input-container .password-information .icon {
  height: 16px;
}
form .input-container .password-information {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #A9B4C6;
  font-family: "Inter-Regular";
  font-size: 0.75rem;
}
form .submit-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  background-color: #D7263D;
  border: none;
  color: #E6ECF5;
  font-family: "Inter-ExtraBold";
  padding: 1rem 0 1rem 0;
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: background-color ease 0.25s;
}
.form-btn:hover {
  cursor: pointer;
  background-color: #B51E30;
}

.full-btn {
  width: 100%;
}

.full-btn-resizable {
  width: 100%;
}
@media (min-width: 1200px) {
  .full-btn-resizable {
    width: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1rem;
}
.header .logo-container a {
  color: #E6ECF5;
  font-family: "Sora-Bold";
  font-size: 1.5rem;
}
.header .search-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: none;
}
@media (min-width: 768px) {
  .header .search-container {
    display: flex;
  }
}
.header .search-container .search-icon {
  color: #A9B4C6;
  height: 1rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: left ease 0.25s;
}
.header .search-container .search-icon.focused {
  left: calc(100% - 2rem);
}
.header .search-container input {
  height: 30px;
  background-color: #111726;
  border: none;
  border-radius: 0.5rem;
  padding-left: 2.25rem;
  color: #A9B4C6;
  width: 100%;
}
.header .search-container input:focus {
  padding: 0 1.75rem 0 0.5rem;
}
.header .search-container input::-moz-placeholder {
  color: #A9B4C6;
}
.header .search-container input::placeholder {
  color: #A9B4C6;
}
.header .burger-container {
  position: relative;
}
.header .burger-icon {
  color: #D7263D;
}
@media (min-width: 768px) {
  .header .burger-icon {
    display: none;
  }
}
.header .burger-icon:hover {
  color: #B51E30;
}
.header .burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  right: 0;
  width: 120px;
  background-color: #111726;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  z-index: 9999999999;
}
.header .burger-menu .burger-connected-link {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #E6ECF5;
  font-family: "Sora-Regular";
}
.header .burger-menu.open {
  display: flex;
}
.header .burger-menu .separator {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #A9B4C6;
}
.header .burger-menu a {
  color: #E6ECF5;
  font-family: "Sora-Regular";
  font-size: 0.88rem;
}
.header .burger-menu a:hover {
  color: #D7263D;
}
.header .header-link {
  color: #E6ECF5;
  display: none;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .header .header-link {
    display: flex;
  }
}
.header .header-link a {
  color: #E6ECF5;
  font-size: 0.88rem;
  font-family: "Sora-Regular";
  transition: all ease 0.25s;
  position: relative;
}
.header .header-link a::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background-color: #D7263D;
  bottom: -4px;
  transition: width ease 0.25s;
}
.header .header-link a:hover {
  color: #D7263D;
  font-family: "Sora-SemiBold";
}
.header .header-link a:hover::before {
  width: 100%;
}
.header .header-connected-link {
  display: none;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .header .header-connected-link {
    display: flex;
  }
}
.header .header-connected-link a,
.header .header-connected-link svg {
  color: #E6ECF5;
  font-size: 0.88rem;
  font-family: "Sora-Regular";
  transition: all ease 0.25s;
}
.header .header-connected-link a:hover,
.header .header-connected-link svg:hover {
  cursor: pointer;
  color: #D7263D;
}

.not-found-page p {
  color: #A9B4C6;
  font-size: 1.25rem;
  font-family: "Inter-Regular";
  text-align: center;
  margin-top: 2rem;
}
.not-found-page a {
  color: #D7263D;
  font-family: "Sora-SemiBold";
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem 0.5rem;
}
.not-found-page a:hover {
  text-decoration: underline;
}

.home-connected {
  margin-top: 32px;
}
.home-connected .section-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .home-connected .section-title {
    text-align: left;
  }
}
.home-connected .section-title h2 {
  position: relative;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-family: "Sora-Bold";
  display: inline-block;
}
@media (min-width: 1200px) {
  .home-connected .section-title h2 {
    font-size: 2rem;
  }
}
.home-connected .section-title h2::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #D7263D;
  border-radius: 8px;
}

.media-slider-section {
  margin-top: 32px;
}
.media-slider-section h3 {
  color: #FFFFFF;
  font-family: "Sora-SemiBold";
  font-size: 1.25rem;
}
@media (min-width: 1200px) {
  .media-slider-section h3 {
    font-size: 1.5rem;
  }
}

.slider-container {
  position: relative;
}
.slider-container .arrows-container .arrow-left {
  position: absolute;
  left: 0.5rem;
}
.slider-container .arrows-container .arrow-right {
  position: absolute;
  right: 0.5rem;
}
.slider-container .arrows-container .arrow-left,
.slider-container .arrows-container .arrow-right {
  opacity: 0.4;
  transition: all 0.25s ease;
  color: #0A0F1F;
  fill: none;
  z-index: 999999999;
  width: 32px;
  height: 32px;
  top: 40%;
  transform: translateY(-40%);
}
@media (min-width: 1200px) {
  .slider-container .arrows-container .arrow-left,
  .slider-container .arrows-container .arrow-right {
    width: 32px;
    height: 32px;
  }
}
.slider-container .arrows-container .arrow-left:hover,
.slider-container .arrows-container .arrow-right:hover {
  opacity: 1;
  cursor: pointer;
  fill: #0A0F1F;
  color: #D7263D;
}

.slider-container {
  overflow: hidden;
}

.media-card-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  overflow: visible;
  transition: transform 0.5s ease;
}

.media-card {
  background-color: none;
  min-height: 200px;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .media-card {
    min-height: 235px;
  }
}
@media (min-width: 1200px) {
  .media-card {
    min-height: 280px;
  }
}
@media (min-width: 1440px) {
  .media-card {
    min-height: 390px;
  }
}
.media-card img {
  width: 100px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .media-card img {
    width: 130px;
    height: 195px;
  }
}
@media (min-width: 1200px) {
  .media-card img {
    width: 160px;
    height: 240px;
  }
}
@media (min-width: 1440px) {
  .media-card img {
    width: 200px;
    height: 300px;
  }
}
.media-card .info-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.5rem;
}
.media-card .title {
  color: #E6ECF5;
}
.media-card .genre {
  color: #A9B4C6;
}
.media-card .title,
.media-card .genre {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.1rem;
  font-family: "Inter-Regular";
  font-size: 0.88rem;
}
.media-card {
  transition: background-color ease 0.25s;
}
.media-card:hover {
  background-color: #111726;
}

.backdrop-image {
  width: 100%;
  opacity: 0.6;
  max-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .backdrop-image {
    position: relative;
    max-height: calc(100vh - 3.75rem);
    opacity: 0.3;
  }
}

.backdrop-image-replacement {
  width: 100%;
  height: 340px;
  background-color: #111726;
}
@media (min-width: 1200px) {
  .backdrop-image-replacement {
    position: relative;
    height: calc(100vh - 3.75rem);
  }
}

.media-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.media-hero .main-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.media-hero .main-info .description {
  color: #A9B4C6;
  font-size: 0.88rem;
  font-family: "Inter-Regular";
  line-height: 1.2rem;
}
@media (min-width: 1200px) {
  .media-hero .main-info .description {
    font-size: 1rem;
  }
}
.media-hero img {
  width: 160px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.media-hero .infos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.media-hero .infos-container .title {
  color: #FFFFFF;
  font-family: "Sora-Bold";
  font-size: 1.5rem;
}
.media-hero .sub-infos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-hero .sub-infos-container .rate-container {
  display: flex;
  gap: 4px;
  align-items: center;
}
.media-hero .sub-infos-container .rate-container p {
  color: #FFC107;
  font-family: "Inter-Bold";
}
.media-hero .sub-infos-container .rate-container .rating-star {
  color: #FFC107;
  fill: #FFC107;
  height: 16px;
  width: 16px;
}
@media (min-width: 1200px) {
  .media-hero .sub-infos-container .rate-container p {
    font-size: 1.25rem;
  }
}
.media-hero .sub-infos-container .dot-separator {
  width: 2px;
  height: 2px;
  background-color: #A9B4C6;
}
.media-hero .sub-infos-container p {
  color: #A9B4C6;
  font-size: 0.75rem;
  font-family: "Inter-Regular";
}
.media-hero .interact-container .rate .icon {
  height: 20px;
  width: 20px;
  stroke-width: 1.5;
  fill: none;
}
.media-hero .interact-container .rate .icon:hover {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .media-hero {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    min-width: 1000px;
    max-width: 1190px;
  }
  .media-hero img {
    width: 280px;
    height: 420px;
  }
  .media-hero .infos-container {
    gap: 2rem;
  }
  .media-hero .infos-container .title {
    font-size: 5rem;
  }
  .media-hero .sub-infos-container p {
    font-size: 1rem;
  }
  .media-hero .sub-infos-container .rate-container .rating-star {
    height: 20px;
    width: 20px;
  }
  .media-hero .interact-container .rate .icon {
    height: 24px;
    width: 24px;
  }
}

.red-btn {
  background-color: #D7263D;
}
.red-btn:hover {
  background-color: #B51E30;
  cursor: pointer;
}

.blue-btn {
  background-color: #111726;
}
.blue-btn:hover {
  cursor: pointer;
}

.main-btn {
  border: none;
  padding: 0.75rem 0;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: "Inter-Bold";
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: background-color 0.25s ease;
}
@media (min-width: 1200px) {
  .main-btn {
    font-size: 1rem;
    gap: 8px;
  }
}
.main-btn .icon {
  width: 14px;
  height: 14px;
  stroke-width: 3;
}

.interact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.is-viewed-btn,
.is-liked-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .is-viewed-btn,
  .is-liked-btn {
    width: 56px;
    height: 56px;
  }
}
.is-viewed-btn .icon,
.is-liked-btn .icon {
  width: 24px;
  height: 24px;
  stroke-width: 2.5;
}
.is-viewed-btn:hover,
.is-liked-btn:hover {
  cursor: pointer;
}

.is-viewed-btn {
  background-color: #111726;
}
.is-viewed-btn .icon {
  color: #FFFFFF;
}

.is-liked-btn {
  background-color: #FFFFFF;
}
.is-liked-btn .icon {
  color: #D7263D;
}

.rate {
  display: flex;
  gap: 8px;
  color: #FFC107;
}
.rate .icon {
  width: 20px;
  height: 20px;
}

.media-infos-container {
  background-color: #111726;
  padding: 2rem;
  border-radius: 16px;
}
.media-infos-container .media-info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.media-infos-container .media-info-row dt {
  color: #A9B4C6;
  font-family: "Inter-Regular";
}
.media-infos-container .media-info-row dd {
  color: #FFFFFF;
  font-family: "Inter-SemiBold";
}
.media-infos-container .media-info-row .revenue {
  color: #21C45D;
}
.media-infos-container .media-info-row dt,
.media-infos-container .media-info-row dd {
  font-size: 0.88rem;
}

.row {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #262522;
  margin-top: 0.5rem;
}

.media-cast-component {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.media-cast-component img {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.media-cast-component .name-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.media-cast-component .name-container .name {
  font-family: "Inter-SemiBold";
  color: #FFFFFF;
}
.media-cast-component .name-container .character {
  font-family: "Inter-Regular";
  color: #A9B4C6;
}
.media-cast-component .name-container .character,
.media-cast-component .name-container .name {
  font-size: 0.88rem;
}

.media-cast-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}
.media-cast-container h2 {
  color: #FFFFFF;
  font-family: "Sora-SemiBold";
  font-size: 1.25rem;
}

.media-detail-h2 {
  color: #FFFFFF;
  font-family: "Sora-SemiBold";
  font-size: 1.25rem;
}

.media-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .media-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-top: 2rem;
  }
  .media-page .section-media-info {
    grid-column: 2;
    order: 2;
  }
  .media-page .section-cast-info {
    grid-column: 2;
    order: 3;
  }
  .media-page .section-review {
    grid-column: 1;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .section-media-hero {
    position: absolute;
    top: 30%;
    left: 2rem;
  }
}

.hero-btn-container button {
  padding: 1rem 2rem;
}/*# sourceMappingURL=main.css.map */